block(icon) {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:empty:after {
    content: none;
  }

  @each $size,
    $fontSize in
    (   xs,     s,     m,     l,    xl,   xxl),
    ( 12px,  14px,  16px,  18px,  20px,  24px) {
    mod(size $size) {
      font-size: $fontSize;
    }
  }
}
